@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$black-color: black;
$grey-color: grey;
$white-grey: rgba(255, 255, 255, 0.90);
$background-color: rgba(25,25,25,255);
$title-color:#d30933;

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto-Regular.ttf');
}


h1{
  color: $title-color;
  font-weight: bold;
}


body {
  padding: 50px;
  margin:50px;
  color:#eee;
  background-color: $background-color;
}


img {
  padding-bottom: 20px;
}

.card  {
  max-width: 400px;
  height: auto;
  background-color: $background-color;
  color: #eee;
  margin: 30px 0px 0px 0px;
  opacity: 1;
  transition: 0.3s;
  
}




a, a:visited {
	text-decoration: none;
	position: relative;
	color: $white-grey;
	
	&:after {
		content: '';
		height: 3px;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0%;
		background: $white-grey;
		transition: 0.2s;
	}

	&:hover:after {
		width: 100%;
	}
	
	&.block {
		display: block;
		padding: 0.5em;
		
		&:hover {
			background: #eee;
		}
	}
}

.main-container{
  width: 100%;
  
  display: grid;
  grid-template-columns: repeat(3, 450px);
  place-content: center

}

.card-img-top {
  width: 100%;
  object-fit: cover;
}

.info {
  display: none;
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 48%;
  padding: 20px 10px 20px 10px;
  
}

.card:hover .info{
  display: block;
}

#container{
	text-align: left;
	border-radius: 5px;
	overflow: hidden;

}

#show-more{
display: block;
margin: auto;
height: 50px;
min-width: 200px;
color:rgba(255, 255, 255, 0.90);
background-color: $title-color;
font-weight: bold;
padding-left: 30px;
padding-right: 30px;
border:none;
}

#results-platform{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 450px);
  place-content: center
}

#selector {
  display: block;
  height: 50px;
  max-width: 200px;
  color:rgba(255, 255, 255, 0.90);
  background-color: $title-color;
  font-weight: bold;
  padding-top: 12px;
  padding-left: 10px;
  border:none;
  margin-top: 30px;
}

#platform {
  background-color: $title-color;
  color:white;
  border: none;
  font-weight: bold;
}

.platform {
  margin: auto;
  padding: 30px;
}

#website{
  display: block;
  height: 50px;
  max-width: 170px;
  color:rgba(255, 255, 255, 0.90);
  background-color: $title-color;
  font-weight: bold;
  padding-top: 12px;
  padding-left: 10px;
  padding-right: 10px;
  border:none;
  position:absolute;
  bottom:0;
  right:0;
}



.image-detail {
  margin-bottom: 40px;
  position: relative;
}

.details {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 450px);
  place-content: left
}

.details-sreenshot{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 450px);
  place-content: center;
  gap: 20px;
}
.similar-games{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 450px);
  place-content: center
}

.btn {
	background:  #d30c34;
  width: 200px;
  height: 2rem;
  overflow: hidden;
	cursor: pointer;
	outline: none;
	color: #eee;

}



.search-container .search-input{
  background: transparent;
  border: none;
  outline:none;
  width: 0px;
  font-weight: 500;
  font-size: 16px;

}

.search-container {

  width: 20%;
  margin-left: 700px;

  height: 30px;

  background-color: $background-color;
  border: solid 1px grey;

  border-radius: 30px;

  display: flex;

  align-items: center;
  padding: 10px 20px;


}

.search-container>i {

  font-size: 20px;

  color: white;

}

.search-container >input {

  flex: 1;

  height: 40px;

  border: none;

  outline: none;

  font-size: 18px;

  padding-left: 10px;
  color:white;


}

.search{
  display: flex;
  padding-bottom: 30px;
  justify-content: center;
  align-items: center;
}